{% load staticfiles %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}/img/favicon.png"/>
    {% block extra_head %}
    {% endblock %}
</head>
<body>
        <div class="header" id="header--homepage">
            <div id="header--homepage--logo">
                <a href='/'><img id="logo" src="{% static 'img/working_logo.svg' %}" alt="logo"></a>
            </div>
            <div id="page_name">
                <h2>{% block pagename %}{% endblock %}</h2>
            </div>
            <div id="catch_text">
                <h3>Buy your tickets at the cheapest time, every time.</h3>
            </div>
        </div>
        {% block content %}
        {% endblock %}
        <div id="footer">
            <p>Made with &#9829; by <a href='robin@pollak.io'>Robin Pollak</a></p>
        </div>
</body>