{% extends '../base.html' %}
{% load staticfiles %}
{% load events_filters %}

{% block extra_head %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('visualization', '1.0', {'packages':['corechart'], 'callback': drawChart})
      // Set a callback to run when the Google Visualization API is loaded.
      // google.charts.setOnLoadCallback(drawChart);

      {% for section in section_names %}
          console.log("{{ section }}");
          function drawChart_{{ section }}() {

            // Create the data table.
            {% autoescape off %}
            var data_{{ section }} = google.visualization.arrayToDataTable({{ charts|dict_get:section|replace }});
            {% endautoescape %}

            var options_{{ section }} = {
              title: "{{ section }}".replace("__"," - ").replace("_", " ").replace("_", " "),
              curveType: 'function',
              legend: { position: 'none' },
              backgroundColor: '#F5F3EE',
              colors: ['#4A96AD'],
              // animation: {
              //   duration: 1000,
              //   startup: true,
              //   easing: 'out'
              // },
              hAxis: {
                textStyle: {
                  color: '#7D1935',
                  fontName: 'Menlo'
                }
              },
              vAxis: {
                textStyle: {
                  color: '#7D1935',
                  fontName: 'Menlo'
                },
                format: 'currency'
              },
              titleTextStyle: {
                color: '#7D1935',
                fontName: 'Menlo'
              }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart_{{ section }} = new google.visualization.LineChart(document.getElementById('chart_{{ section }}'));
            chart_{{ section }}.draw(data_{{ section }}, options_{{ section }});
          }
      {% endfor %}
      function drawChart(){
        {% for section in section_names %}
            drawChart_{{ section }}();
        {% endfor %}
      };

    </script>

{% endblock %}

{% block pagename %}
    {{ object.name }}
{% endblock %}


{% block content %}
    {% for section in section_names %}
        <div id="chart_{{ section }}"></div>
    {% endfor %}
<!--     <br>
    {% for section in object.sections.all %}
        {{ section.name }}:
        {% for pricepoint in section.pricepoints.all %}
        <p>({{ pricepoint.datetime|date:"D d M Y" }}, {{ pricepoint.total_amount }})</p>
        {% endfor %}
    {% endfor %} -->
{% endblock %}
