{% extends '../base.html' %}
{% load staticfiles %}
{% load events_filters %}

{% block extra_head %}
    <title>{{ object.name }} at {{ object.event.name }}</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('visualization', '1.0', {'packages':['corechart'], 'callback': drawChart})

          function drawChart() {

            // {% autoescape off %}
            //     var data = google.visualization.arrayToDataTable({{ chart }});
            // {% endautoescape %}
            {% autoescape off %}
                var data = new google.visualization.DataTable();
                data.addColumn('date', 'Date');
                data.addColumn('number', 'Price');
                rows = {{ chart }};
                for (var i = 0; i < rows.length; i++) {
                    rows[i][0] = new Date(rows[i][0][0], rows[i][0][1], rows[i][0][2], rows[i][0][3], rows[i][0][4])
                };
                data.addRows(rows);
            {% endautoescape %}

            var options = {
              title: "{{ object.name }}".replace("__"," - ").replace("_", " ").replace("_", " "),
              curveType: 'function',
              legend: { position: 'none' },
              backgroundColor: '#F5F3EE',
              colors: ['#4A96AD'],
              pointSize: 10,

              hAxis: {
                textStyle: {
                  color: '#7D1935',
                  fontName: 'Menlo'
                },
                gridlines:{
                  color: '#37241A'
                }
              },
              vAxis: {
                textStyle: {
                  color: '#7D1935',
                  fontName: 'Menlo'
                },
                format: 'currency'
              },
              titleTextStyle: {
                color: '#7D1935',
                fontName: 'Menlo'
              }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart'));
            chart.draw(data, options);
          }

    </script>
{% endblock %}

{% block pagename %}
    {{ object.name }} at {{ object.event.name }}
{% endblock %}

{% block content %}
    <div id="chart"></div>
    <div id="more_info">

    </div>
{% endblock %}